<h1>Sign up!</h1>

<form action="<%=users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >

<table>
  <tr>
    <td>
      Username:
    </td>
    <td>
      <input type="text" name="user[user_name]" value="<%= @user.user_name %>">
    </td>
  </tr>
  <tr>
    <td>
    Password:
    </td>
    <td>
      <input type="password" name="user[password]">
    </td>
  </tr>
</table>

<input type="submit" value="Create User!">

</form>
